@import "tailwindcss";

#scrollable {
    overflow: auto;
    scrollbar-width: thin;          
    scrollbar-color: transparent transparent;
}

#scrollable::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#scrollable::-webkit-scrollbar-track {
    background: transparent;
}

#scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    visibility: hidden;
}

#scrollable:hover::-webkit-scrollbar-thumb,
#scrollable:active::-webkit-scrollbar-thumb {
    visibility: visible;
}
